# Node modules
node_modules/

# Build output
dist/
build/

# Environment variables
.env

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Dependency directories
bower_components/

# Miscellaneous
*.sublime-workspace
*.sublime-project
*.tmp
*.swp
